[2014-06-27 01:06] pixelzoom opened #1 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-06-27 01:37] #1 closed, assigned to pixelzoom

[2014-08-25 22:52] pixelzoom opened #2 "capitalization of labels"
In Balancing Chemical Equations, we had "Make Water", "Make Ammonia" and "Combust Methane".

In the design doc for RPAL, we have "Make water", "Make ammonia" and "Combust methane".

Shall we standardize on one convention for capitalization, especially where the strings are the same?

[2014-08-26 16:31] #2 closed, assigned to pixelzoom

[2014-08-26 18:37] pixelzoom opened #3 "range of quantities in Game"
The design doc indicates that quantities for the Game range from 0-10, but the mockups show a single digit for the spinners. 2 digits will be 2x wider, so the spinners will need to shrink.  For example, see screenshot below (from the design doc). Reducing the spinner size to accommodate 2 digits may make them unusably small. And we should try to avoid having different-sized spinners for different

[2014-09-06 06:22] ariel-phet opened #4 "FYI"
Did you know that typing ":" while making an issue allows the following possibilities?

:+1:

:-1:

:100:

:1234:

:8ball:

Perhaps you can let me know what the last two mean....

[2014-09-08 19:00] #4 closed, assigned to pixelzoom

[2014-10-21 15:19] #3 closed, assigned to pixelzoom

[2014-11-05 21:14] pixelzoom opened #5 "code review"
This sim is a bit ahead of schedule. Unless something unanticipated pops up, it should be ready for code review in the next 7-10 days. @ariel-phet asked me to assign this to @aaronsamuel137. I'll let you know when it's ready to review.

[2014-11-18 22:03] pixelzoom opened #6 "screenshot for website"
@ycarpenterphet please specify how you'd like the sim to appear on the PhET website. Easiest would be if you could attach a screenshot showing the desired configuration.  The screenshot for the Java version is attached below for your convenience.

![reactants-products-and-leftovers-screenshot](https://cloud.githubusercontent.com/assets/3046552/5096977/003a91be-6f34-11e4-92b1-298147488f89.png)

[2014-11-18 22:43] pixelzoom opened #7 "decide on location of equation in 'Sandwiches' and 'Molecules' screen"
As of 1.0.0-dev.2 ... The position of the equation in the 'Sandwiches' and 'Molecules' screens is controlled via the 'equation' parameter, which puts the equation at the 'top' (default) or 'bottom' of the screen.  There is a tiny bit of logic involved in supporting this (see RPALBaseView), but it would be good to decide on one approach and remove the unused code and query parameter.

This is a des

[2014-11-18 22:49] pixelzoom opened #8 "decide on UI component for coefficients in 'Custom' sandwich"
As of 1.0.0-dev.10 ... The 'coefficients' query parameter determines whether to use 'spinners' (default) or 'pickers' for changing equation coefficients in the 'Custom' sandwich.  See partial screenshots below. There is a tiny bit of logic involved in supporting this (see RPALBaseView), but it would be good to decide on one approach and remove the unused code and query parameter.

This is a design

[2014-11-19 19:59] pixelzoom opened #9 "location of 'Reset All' button"
As of 1.0.0-dev.10 ...  The 'Reset All' button in the 'Sandwiches' and 'Molecules' screens is currently in the lower-left corner.  In most sims (and the 'Game' screen), it's in the lower-right, but we don't have space there.  Need to decide whether this is an acceptable location, or whether we need to move it. Moving it just about anywhere else will have major layout implications.

[2014-11-19 22:42] samreid opened #10 "replace getRandomValue with _.sample"
I saw this code in RandomBox.js (not currently used):

[code]

But it seems like it could be replaced with _.sample, see http://underscorejs.org/#sample

[2014-11-19 23:26] #10 closed, assigned to pixelzoom

[2014-11-25 18:16] aaronsamuel137 opened #11 "options.showSymbols in QuantitiesNode.js"
During code review #5, I noticed that options.showSymbols is used as a boolean in many situations in QuantitiesNode, such as:

[code]

However, this value has no default in the options.extend call, and seems to be always undefined. Is this intentionally left undefined so it evaluates as false? In this case it seems like it would be more clear to put

[code]

inside the extend call.

Also it seems

[2014-11-25 19:10] aaronsamuel137 opened #12 "No default option for titleNode in StacksAccordionBox"
Similar to #11, there is no default option for titleNode in the options.extend call in StacksAccordionBox. See code review #5.

[2014-11-26 03:36] #12 closed, assigned to pixelzoom

[2014-11-26 15:31] #11 closed, assigned to aaronsamuel137

[2014-11-26 16:10] aaronsamuel137 opened #13 "Potential to refactor in GameGuess.js"
I'm guessing you're aware of this, but it seems like the three methods createGuessReactants, createGuessProducts, and createGuessLeftovers could be pretty easily refactored into single method createGuessSubstances. In fact, createGuessProducts and createGuessLeftovers look identical semantically with just different variable names.

Any reason why you are not refactoring these?

See code review #5.

[2014-11-26 16:55] aaronsamuel137 opened #14 "Instance variables could be vars in GameView"
During code review #5, I noticed these instance variables defined in GameView:

[code]

It looks like settingsNode and playNode are never used outside of the constructor, so could just be vars. However, I could see leaving them as instance variables to make them consistent with resultsNode if that seems more elegant to you. I'll leave it up to if you want to change this or not, I just wanted to po

[2014-11-26 17:06] aaronsamuel137 opened #15 "getRandomNumber function"
During code review #5, I noticed that you've written your own random number function in ChallengeFactory:

[code]

However elsewhere in the code I see you using the underscore random() function:

[code]

Is there any difference between these functions? Why are you writing your own in ChallengeFactory instead of using underscore?

[2014-11-26 23:02] #14 closed, assigned to pixelzoom

[2014-11-26 23:02] #13 closed, assigned to aaronsamuel137

[2014-11-26 23:11] #15 closed, assigned to pixelzoom

[2014-11-26 23:33] #5 closed, assigned to aaronsamuel137

[2014-11-27 14:52] pixelzoom opened #16 "finalize credits"
I asked @kathy-phet:

She replied:

[2014-12-04 18:10] #16 closed, assigned to pixelzoom

[2014-12-05 00:01] pixelzoom opened #17 "performance of switching between reactions"
@ycarpenterphet reported this via email for 1.0.0-dev.13:

[2014-12-05 00:04] pixelzoom opened #18 "memory leak"
In #17, @ycarpenterphet reported:

By "load time", she was referring to the time required to load the next challenge when pressing the "Next" button.

I'll take another pass through the code to look for memory leaks. (Note to self: It sure would be nice if AXON had some support for summarizing Properties and how many observers they have.)

[2014-12-08 03:54] pixelzoom opened #19 "not immediately obvious what action to take in the Game"
@emily-phet commented on 1.0.0-dev.13 via email:

[2014-12-08 19:00] #8 closed, assigned to pixelzoom

[2014-12-08 19:06] pixelzoom opened #20 "decide on value for 'randomOffset' query parameter"
Molecules in game boxes are arranged in a grid. The 'randomOffset' query parameter controls how much the molecules are randomly offset from the center of cells in the grid. Higher values make the layout look less grid-like, but result in more overlap of molecules (a trade-off). The default value is 8.  A value of zero will center every molecule in its cell. Value that are too high will result in u

[2014-12-08 21:31] ycarpenterphet opened #21 "Missing product image in equation after reset-all (Sandwiches screen)"
URL: http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.13/reactants-products-and-leftovers_en.html
Version: 1.0.0-dev.13
Issue occurs in OSX 10.9.5/Chrome and iPad2/iOS7 (and likely elsewhere as well)

If the reset-all button is pressed on the Sandwiches screen, the image of the product for both Cheese and Meat & Cheese sandwich equations disappears. The corr

[2014-12-08 21:59] #21 closed, assigned to ycarpenterphet

[2014-12-09 04:28] #7 closed, assigned to pixelzoom

[2014-12-09 06:50] #19 closed, assigned to ycarpenterphet

[2014-12-09 06:55] ycarpenterphet opened #22 "transparency of Game buttons"
In #19 @pixelzoom said

In interviews, two students nearly missed counting a molecule obscured by the Check/Next button, possibly due to the increased opacity. They did spot it eventually, but it would be better if the transparency were increased slightly.

I'm not sure what will look OK on the white background, though - whether it needs the increased opacity to stand out on white. Can you show me

[2014-12-09 22:13] #22 closed, assigned to pixelzoom

[2014-12-15 01:55] pixelzoom opened #23 "CPU leak?"
In https://github.com/phetsims/axon/issues/37#issuecomment-66690928 (memory leak in DerivedProperty), @samreid said:

By "CPU leak", do you mean a process that is monopolizing the CPU? And why do RPAL's symptoms seem to be suggestive of that?  It's not doing anything other than deleting and adding a sizable number of Nodes each time the reaction changes. Then it's just sitting around waiting for q

[2014-12-15 23:01] #23 closed, assigned to samreid

[2014-12-16 18:35] pixelzoom opened #24 "cache Nodes that require expensive stroked-shape computation"
Computing stroked shapes is a relatively expensive Scenery operation.

The brackets (HBracketNode) below the Before/After boxes are particularly expensive because they are involve quadratic curves.  Investigate caching these brackets, so that the cost to compute the stroked shape only needs to be incurred once.  Their length won't be as custom-tailored to specified reactions, but they will probabl

[2014-12-16 23:03] #20 closed, assigned to ycarpenterphet

[2014-12-17 01:37] #24 closed, assigned to pixelzoom

[2014-12-18 18:26] #18 closed, assigned to pixelzoom

[2015-01-02 23:18] pixelzoom opened #25 "improve performance of level selection in Game"
Level selection performance is acceptable, but could be improved. This can be done by reusing 1 instance of each NITROGLYCERIN molecule node, instead of creating new molecule nodes when challenges are created (in ReactionFactory).

[2015-01-02 23:21] pixelzoom commented on #25
This was implemented in a8f500025e7268f838b7b50574341a0082c46673. But it exposed a problem with gradients in Scenery 0.1, see https://github.com/phetsims/scenery/issues/335#issuecomment-68563261.  There was no good workaround for this, so I backed out this enhancement. We'll have to live with this for RPAL 1.0, but may revisit for a future release.

[2015-01-02 23:58] pixelzoom commented on #17
Here's a dev version demonstrating the performance when switching between Challenges in the Game:
http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.21/reactants-products-and-leftovers_en.html

Please let me know if this performance is acceptable.

[2015-01-03 00:00] pixelzoom commented on #17
@ycarpenterphet and @ariel-phet Here's a dev version demonstrating the performance when switching between Challenges in the Game:
http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.21/reactants-products-and-leftovers_en.html

Please let me know if this performance is acceptable.

[2015-01-05 22:59] pixelzoom commented on #25
@ycarpenterphet please confirm that you're OK with deferring this. We can revisit for a future release, some time after Scenery 0.2 is released.

[2015-01-05 23:02] pixelzoom commented on #17
@ycarpenterphet if the performance of 1.0.0-dev.21 is acceptable, please close this issue. Otherwise reassign it to me with a description of what needs to be improved. Thanks!

[2015-01-06 01:28] ariel-phet commented on #17
@ycarpenterphet and @pixelzoom -- I tested the sim out and it seemed to be running well on iPad2. Nice work Chris!

[2015-01-06 01:30] ariel-phet commented on #9
I just took a look at this on iPad today...it seems we should discuss, on the iPad it looks like plenty of room exists in the lower right hand corner (although this is outside the dev bounds). The dev bounds on this sim do not seem to be matching the iPad bounds. Let's take a look together in person.

[2015-01-06 06:09] pixelzoom commented on #9
How's this look? Feels a little crowded in the lower-right to me. We could move everything else slightly left, if you don't mind that the boxes/arrow are not perfectly centered.

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.22/reactants-products-and-leftovers_en.html

![img_0071](https://cloud.githubusercontent.com/assets/3046552/5625046/d73c578a-952f-11

[2015-01-06 07:26] ariel-phet commented on #9
@pixelzoom I think that is definitely an improvement. Especially since this sim has such a strong left to right flow, I think the reset all button definitely needs to be in that general area of lower-right. Not going to argue that it feels a bit crowded. Let's get @ycarpenterphet to give her opinion if the sim should shift a bit left.

[2015-01-06 16:41] pixelzoom commented on #9
If we going to put the "Reset All" button in the lower-right, the first thing I would try is to horizontally center everything else in the space between left edge of the dev bounds and the left edge of the "Reset All" button.  That would look like this:

![screenshot_177](https://cloud.githubusercontent.com/assets/3046552/5631991/3eafdca4-9588-11e4-8ec8-0e9c19c407a4.png)

[2015-01-06 16:44] pixelzoom commented on #9
I would also move the 'Reset All' button up a smidge, like this:

![screenshot_178](https://cloud.githubusercontent.com/assets/3046552/5632027/8fe85dbc-9588-11e4-8193-2e1b131f7b08.png)

[2015-01-06 22:21] pixelzoom opened #26 "add QA members to credits"
@ariel-phet who should I add to the QA credits for RPAL?

[2015-01-06 22:55] #17 closed, assigned to ycarpenterphet

[2015-01-06 23:28] #9 closed, assigned to pixelzoom

[2015-01-07 03:36] pixelzoom commented on #26
@ariel-phet said via email:

Done in aa706a3b214b2c93a6e210fda060fda490e59639, closing.

[2015-01-07 03:36] #26 closed

[2015-01-13 17:33] orejolaphet opened #27 "Slight lag changing numerical value when using spinners on iPad"
Test device: iPad 2
Operating System: iOS 7.1
Browser: Safari
Problem description:
There exist a very slight delay when using the spinners to change the number of reactants or products.
The delay is only a second, but can become a hassle when clicking fairly fast.

Severity: Low

Troubleshooting information (do not edit):
Name: Reactants, Products and Leftovers
URL: http://www.colorado.edu/physics

[2015-01-13 18:47] pixelzoom commented on #27
Do you see this delay if you tap and immediately release one of the spinner's arrow buttons?  If you are holding the arrow button down, then there will be a 400 ms delay before the value starts changing.

[2015-01-14 18:27] pixelzoom commented on #27
@orejolaphet I don't see anything close to a 1-second delay on iPad2 with iOS 8.1.2.  Can you please test on a device with iOS 8.1.2 to confirm?  And could you please answer the question in the comment immediately above. Thanks.

[2015-01-14 18:29] pixelzoom commented on #6
@ycarpenterphet Just a reminder that we're getting closer to needing a screenshot.

[2015-01-14 18:32] pixelzoom commented on #27
@ycarpenterphet Could you please evaluate the performance of the test platform (iPad2 + iOS7)? It sounds like it's specific to iOS7, and is still acceptable. If that's the case, I recommend closing this as "won't fix".

[2015-01-14 22:54] ycarpenterphet commented on #27
Looks fine to me on iPad2/iOS 7.0.4.

Although there is a short delay after the spinner arrow is tapped, this is barely perceptible when the spinner is tapped multiple times to increase or decrease the coefficients. Based on interviews, this very small delay would likely go unnoticed by most users/students, since they are also working on counting at the same time.

Closing.

[2015-01-14 22:54] #27 closed

[2015-01-15 17:26] orejolaphet opened #28 "Poor rendering of "Sandwiches" icon FF 35.0"
Test device: Asus
Operating System: Win 8.1 64-bit
Browser: FF 35.0

Severity: Low

Screenshots:

![sandwiches](https://cloud.githubusercontent.com/assets/5631059/5762657/f4ab45c4-9ca0-11e4-925d-7e805e144894.PNG)

Troubleshooting information (do not edit):
Name: Reactants, Products and Leftovers
URL: http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-rc.1/reactant

[2015-01-17 21:30] pixelzoom commented on #28
This problem pops up every time we use an image for icons in the navigation bar. The only way to truly solve it is to either (a) add SVG-image support to Scenery, or (b) draw the icon programmatically. (a) is on PhET's wish list, but is unlikely to happen for awhile, and certainly not before this sim is published. (b) is not possible (or at least very cost-prohibitive) due to how complicated the s

[2015-01-17 21:52] ariel-phet opened #29 "postmortem after publication"
We will plan to do a post-mortem on this sim after it is published

@pixelzoom @ycarpenterphet and @ariel-phet should definitely be involved

Assigning to @pixelzoom if he thinks any other parties should attend the postmortem

[2015-01-17 21:53] ariel-phet commented on #29
@pixelzoom please reassign to me after your suggestions if anyone else should attend

[2015-01-17 22:11] pixelzoom commented on #29
For Java/Flash sims, the entire team typically attended the postmortem. So that would add Trish, Robert, Kathy, Oliver O, and Bryan Y.  Since this was a port (and a first HTML5 postmortem), I don't know if that many people is necessary or desirable.  Maybe leave invite them and leave it up to them whether to attend?... I'll leave it up to @ariel-phet and @ycarpenterphet to decide.

[2015-01-17 22:16] samreid commented on #29
Not sure which members of the design team should attend (though I agree generally anyone with a significant involvement in the sim should attend the postmortem), but I think it is important to have *at least* one QA team member as part of the postmortem.

[2015-01-17 22:52] ariel-phet commented on #29
@samreid -- we can see about that. Although I think that would be handy, I don't think we want to keep them at such a meeting for the full time (postmortems can be long and get into some details not relevant to the QA team). Perhaps we can arrange the process so that QA feedback is given early in the postmortem.

[2015-01-17 22:53] ariel-phet commented on #29
@samreid let's move these comments over to https://github.com/phetsims/tasks/issues/147

[2015-01-19 17:42] ycarpenterphet commented on #6
Let's go with this:

![image](https://cloud.githubusercontent.com/assets/4682895/5804955/d7d2ecfc-9fc7-11e4-9241-e1d3f043e684.jpg)

So that I won't forget the rationale -- I had considered a screenshot from the molecules screen, since I think that's more representative of the sim, but BCE and RPAL look so similar at first glance that I think the sandwiches in the screenshot will help make them mor

[2015-01-19 17:46] ycarpenterphet commented on #28
@pixelzoom - Can we see how much the quality would be improved by using the smaller image file? If that can offer any improvement, I think we should do that.

For the release of 1.0, I don't think we should do more than that, though - no need to go in and fiddle with the level of detail, until we have SVG image support in scenery.

[2015-01-19 19:52] pixelzoom commented on #28
@ycarpenterphet I don't have the .ai file that you used to create the icon for the "Sandwiches" screen. Please send it to me so that I can check it into assets/, and use it to create a smaller navbar icon.

[2015-01-19 20:14] pixelzoom commented on #28
FYI... This is only a problem on Win+Firefox. Mac+Firefox looks fine.

[2015-01-19 21:19] ycarpenterphet commented on #28
@pixelzoom While I'm at it, is the sandwiches icon the only item in RPAL for which an ai file is needed? I think the bread, cheese, and meat use the ai files from the Java sim (but I can email these to you as well if it's easier).

Is there anything else that isn't drawn programmatically that I should send along?

[2015-01-19 22:22] pixelzoom commented on #28
@ycarpenterphet I have bread.ai, meat.ai and cheese.ai.  The only thing missing is the sandwich.  The other screen icons (and all molecules) are drawn programmatically.  Thanks for checking.

[2015-01-20 01:55] pixelzoom commented on #28
@orejolaphet and @ycarpenterphet I created a navbar-specific image file for the "Sandwiches" screen, which you can test in this dev version:

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.24/reactants-products-and-leftovers_en.html

Here are screenshots comparing 1.0.0-dev.24 (top) to 1.0.0-rc.1 (bottoms).

![1 0 0-dev 24](https://cloud.githubusercontent.

[2015-01-20 02:30] pixelzoom commented on #6
Screenshot taken on iPad2, chrome cropped off the top, sized to 1024x672.  Check in to master and 1.0 branches. Closing.

[2015-01-20 02:30] #6 closed

[2015-01-20 05:47] ycarpenterphet commented on #28
@pixelzoom - just checking: of the screenshots you posted, is the top one really the new one (dev.24)?

I looked at both on Win 8.1/FF35, and dev24 looks substantially better to me, while rc1 is pixelated.

[2015-01-20 14:40] pixelzoom commented on #28
Sorry, I had the screenshots mislabeled. The top one is 1.0.0-rc.1.

I'm going to close this issue.

[2015-01-20 14:50] pixelzoom commented on #28
The way that I got this icon looking good was to scale it down to 70x48, so that Firefox doesn't need to scale it down much.  But as @jonathanolson pointed out in https://github.com/phetsims/reactants-products-and-leftovers/issues/28, I forgot about retina displays - which I guess is why 147x100 is recommended as the minimum size. But at that size, the navbar icon will still look lousy on Win+FF.

[2015-01-20 16:27] pixelzoom commented on #28
Here's a new dev version (1.0.0-dev.25) that uses the recommended size for navbar icons (147x100).
http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.25/reactants-products-and-leftovers_en.html

Here's a comparison of the icons at the various sizes. What we're stuck with is slightly better looking, but still lousy.

1.0.0-rc.1 (688x469, scaled-down home-screen

[2015-01-20 16:29] pixelzoom commented on #28
@ycarpenterphet please let me know if 1.0.0-dev.25 is acceptable.

[2015-01-20 19:39] ycarpenterphet commented on #28
That's fine for 1.0 release. Closing.

[2015-01-20 19:39] #28 closed

[2015-01-22 03:56] pixelzoom opened #30 "molecule gradients don't render (scenery 0.2)"
After upgrading to scenery 0.2, this problem is back: https://github.com/phetsims/scenery/issues/335
You can see it in the 'Molecules' screen (Chrome screenshot below, N2 molecules).
(Note that this does not impact RPAL 1.0 publication, which is based on scenery 0.1.)

![screenshot_436](https://cloud.githubusercontent.com/assets/3046552/5850309/3b51b0d0-a1b0-11e4-9fbd-f34678beca36.png)

[2015-01-22 23:34] oliver-phet opened #31 "Sandwiches/Molecules screens: "After Reaction" text tracking different in FF"
Here is Firefox 35.0 Sandwiches screen:
![reactants products and leftovers 1 0 0-rc 1 - mozilla firefox_2015-01-22_16-25-18](https://cloud.githubusercontent.com/assets/5090275/5866963/f2fbb566-a253-11e4-9e8d-cdf0b695afcf.png)

And the same browser Molecules screen:
![reactants products and leftovers 1 0 0-rc 1 - mozilla firefox_2015-01-22_16-25-28](https://cloud.githubusercontent.com/assets/509027

[2015-01-22 23:34] oliver-phet commented on #31
Troubleshooting information (do not edit):
Name: Reactants, Products and Leftovers
URL: http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-rc.1/reactants-products-and-leftovers_en.html
Version: 1.0.0-rc.1
Features missing: touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:35.0) Gecko/20100101 Firefox/35.0
Language: en-US
Window: 178

[2015-01-23 18:55] pixelzoom commented on #31
What does "text tracking" mean? Do you mean that there is more space to the left of the text in the button?

[2015-01-23 18:55] pixelzoom commented on #31
@oliver-phet What does "text tracking" mean? Do you mean that there is more space to the left of the text in the button?

[2015-01-23 18:58] phet-steele opened #32 "Incorrect Question Mark Rendering in IE10"
I noticed on the Windows 7 32-bit device I tested on that the top of the question marks appear thicker whenever the level select screen is viewed in IE10, whether by switching to the game screen, pressing continue after completing a level, or by pressing start over during a level. Once the mouse is moved they revert back to normal.

Viewing level select screen:
![rpal incorrect question](https://c

[2015-01-23 19:02] oliver-phet commented on #31
The spacing between the letters is inconsistent. I've seen it before on FF, but since these two strings are so similar, I thought the cause might be something other than the quotes around Reaction. Neither really bugs me but I thought since the strings were so similar there might be another reason for the difference.

http://en.wikipedia.org/wiki/Letter-spacing

[2015-01-23 19:04] pixelzoom commented on #32
@jonathanolson can you please comment on this? To the best of my knowledge, there's nothing we can do about this.

[2015-01-23 19:05] pixelzoom commented on #31
@jonathanolson can you please comment on this? To this best of my knowledge, there's nothing we can do about this.

[2015-01-23 20:12] jonathanolson commented on #31
It's curious, I'm able to reproduce on Chrome (Win7), but not on FF. It relates to SVG text settings (auto/optimizeLegibility/geometricPrecision) and resizing the strings to the correct bounds if necessary.

@oliver-phet, can you visit http://phetsims.github.io/scenery/tests/text-quality-test.html?lows and note whether you see jittering or display problems for the SVG geometricPrecision spacingAnd

[2015-01-23 20:15] jonathanolson commented on #32
Seems related to https://github.com/phetsims/scenery/issues/348. Will need to investigate to determine if there's anything we can do, or if there is an underlying bug (and whether it's present in 0.2).

[2015-01-23 20:35] oliver-phet commented on #31
@jonathanolson On Chrome Win7 I see a lot of jitter for that case too.

On Firefox (35.0) the text is actually much less jittery.

Screenshots don't really capture what I am seeing when the text is animating, but let me know if I can send any.

[2015-01-26 04:18] pixelzoom commented on #32
Nothing we can do about this in RPAL 1.0, which uses Scenery 0.1. If and when it's addressed in Scenery 0.2, RPAL will benefit from the fix.  Closing this issues as "won't fix".

[2015-01-26 04:18] #32 closed

[2015-01-26 04:19] pixelzoom commented on #31
Nothing we can do about this in RPAL 1.0, which uses Scenery 0.1. If and when it's addressed in Scenery 0.2, RPAL will benefit from the fix. Closing this issues as "won't fix".

[2015-01-26 04:19] #31 closed

[2015-01-28 18:28] pixelzoom commented on #29
RPAL 1.0.0 is published. Postmortem can be scheduled anytime.

[2015-01-28 19:17] pixelzoom opened #33 "Game reward is broken (scenery 0.2)"
This is a fatal problem. To reproduce, run with ?dev&showReward and you'll see the reward regardless of score. When it gets to where it should display the reward, the final challenge remains displayed. And it looks like it's entering an endless loop, with this error message in the console:

Also reported in https://github.com/phetsims/vegas/issues/39

[2015-01-30 16:13] ariel-phet commented on #29
- [ ]  **1. Schedule the meeting**
 - Require the entire sim team to participate, and optionally anyone else who had a significant involvement. Have the meeting as soon as possible after the sim is released, so that experiences are still fresh in everyone's mind. Allow sufficient time for the meeting, 1.5-2 hours.

 - [ ]  **2. Enlist a meeting moderator**
 - The moderator's job is to make sure th

[2015-02-19 16:11] pixelzoom commented on #30
Fixed by phetsims/scenery#335, closing.

[2015-02-19 16:11] #30 closed

[2015-02-19 16:14] pixelzoom commented on #33
This is still broken.  The console error is different:

Reopening phetsims/vegas#39.

[2015-02-19 16:29] pixelzoom commented on #25
phetsims/scenery#335 is fixed, so we could revisit this if/when necessary.

[2015-02-19 19:01] ycarpenterphet commented on #29
@ariel-phet, I've updated the postmortem document, highlighting some of the most useful, and (I feel) generalizable take-home messages from our list of successes and improvements. I'm passing this off to you now to place these into the checklist and take-home messages documents as appropriate, and check off the remaining items, above.

[2015-02-19 19:58] ycarpenterphet opened #34 "Alignment of existing activities with HTML5 version"
In preparation for future revisions to sim pages and targeted revision of activities, this lists all of the current RPAL activities and roughly how much revision they'll need of content and graphics to align with the HTML5 changes:
https://docs.google.com/spreadsheets/d/1kpoUudLRnAYCXT63SCtZyE3jJEUln48ntDJjYiqB5xE/edit#gid=0

[2015-02-19 20:01] ycarpenterphet commented on #34
@ariel-phet I'm not sure whether there's a next stage, and/or if the spreadsheet could be a useful template as we start to do this for other activities (possibly with revision of the criteria - I just tried to give a first pass so that we can triage more effectively when activity revision happens in future; hopefully we can prioritize gold star activities, PhET-created materials, and easy-revision

[2015-02-24 23:22] pixelzoom commented on #33
Fixed in phetsims/vegas#39, closing.

[2015-02-24 23:22] #33 closed

[2015-03-31 04:53] pixelzoom commented on #29
@ariel-phet What's left to do here?

[2015-03-31 17:39] ariel-phet commented on #29
@pixelzoom - a couple of things, I don't want to close this issue until a discussion of the sim checklist occurs (soon). Please just leave it assigned to me, it is on my radar to finish up.

[2015-05-12 03:18] ariel-phet commented on #34
This is being take care of as part of the HTML5 sim pages project, Closing

[2015-05-12 03:18] #34 closed

[2015-05-22 20:46] pixelzoom opened #35 "i18n layout issues"
This sim looks pretty good with "?stringTest=double".

In very extreme cases, it has problems. For example the screenshot below is for
"?stringTest=abcdefghijklmnopqrstuvwxyz0123456789". And in addition to the layout problems, there seems to be a problem with text scaling.

Evaluate whether any of this should be fixed, and which of the issues are in common code (e.g. the scoreboard layout problem

[2015-05-26 17:00] pixelzoom commented on #29
@ariel-phet status?

[2015-05-26 17:03] pixelzoom commented on #35
Work on this after https://github.com/phetsims/scenery/issues/428 is completed.

[2015-06-08 21:18] ariel-phet commented on #29
Done, closing.

[2015-06-08 21:18] #29 closed

[2015-06-25 17:44] pixelzoom opened #36 "horizontal alignment of sandwich icons is off"
See screenshot below, problematic icons indicated by arrows.  These icons are slight left of where they should be; they should be centered above the numbers.  This broke sometime after version 1.0.0.

![screenshot_540](https://cloud.githubusercontent.com/assets/3046552/8361261/4f2844ea-1b2f-11e5-8270-da06989a9f55.png)

[2015-06-25 17:49] pixelzoom commented on #36
1.0.0 was published Jan 15 08:22.

[2015-07-07 14:29] pixelzoom commented on #36
TODO:

- [ ] title on Game level-selection interface
- [ ] radio button panel on Game level-selection interface
- [ ] '?' in Game challenge
- [ ] buttons in Game challenge

[2015-07-07 14:39] pixelzoom commented on #36
Oops. The above commits should have been associated with #35.

[2015-07-07 14:40] pixelzoom commented on #35
TODO:

- [x] title on Game level-selection interface
- [x] radio button panel on Game level-selection interface
- [x] '?' in Game challenge
- [x] buttons in Game challenge

[2015-07-07 14:41] pixelzoom commented on #35
Fixes:
https://github.com/phetsims/reactants-products-and-leftovers/commit/4109cf14d7dd6518392e14e945252897ef6946a3
https://github.com/phetsims/reactants-products-and-leftovers/commit/0fef8905af417d4852ed9a37a5890bd03e2c1a8f
https://github.com/phetsims/reactants-products-and-leftovers/commit/a565a009602d511cfe79762a09a4526e8816b5dd
https://github.com/phetsims/reactants-products-and-leftovers/commi

[2015-07-07 14:42] pixelzoom commented on #35
Tested with stringTest=double and stringTest=X.  All layout seems to be fine. Closing.

[2015-07-07 14:42] #35 closed

[2015-07-07 19:35] pixelzoom commented on #36
Bisected this. It broke when the switch from sun.HStrut to scenery.HStrut occurred. So there's something different about scenery.HStrut.

Verified by changing this line 49 of SandwichNode from this:

`    thisNode.addChild( new HStrut( MAX_WIDTH, { centerX: 0 } ) );`

to this:

`    thisNode.addChild( new Line( 0, 0, MAX_WIDTH, 0, { centerX: 0 } ) );`

[2015-07-07 19:43] pixelzoom commented on #36
This was a bug in scenery.Spacer, the supertype of HStrut. Fixed in https://github.com/phetsims/scenery/issues/442. Closing.

[2015-07-07 19:43] #36 closed

[2015-08-05 18:24] pixelzoom opened #37 "modify game flow so that "Try Again" is optional?"
In phetsims/graphing-lines#47, it was requested to change the game flow so that the "Try Again" button automatically changed to "Check" when interacting with game.

In RPAL, the only thing that's interactive is the "Try Again" button.  The spinners are converted to read-only numbers (see screenshot below).  So we'd need to keep the spinners interactive.

![screenshot_567](https://cloud.githubuserc

[2015-08-05 18:24] pixelzoom commented on #37
In phetsims/graphing-lines#47 (comment), @ariel-phet stated that this should be "an open question for the design team". Assigning to @ariel-phet to decided who from the design team should be assigned to answer this question.

[2015-08-25 22:54] pixelzoom commented on #25
As described in https://github.com/phetsims/reactants-products-and-leftovers/issues/25#issue-53285185, the performance of the game could likely be improved.  But there have been no complaints about performance.  My recommendation would be to defer this, not include it in "Summer 2015 redeploy".

@ariel-phet If you agree, please remove the "Summer 2015 redeploy" label and unassign.

[2015-08-28 17:08] pixelzoom commented on #37
Design question: In addition to clicking on the "Try Again" button... Specifically which interactions make the "Try Again" button disappear? Clicking *anywhere* on the screen? Or clicking on a spinner?

[2015-08-28 18:39] pixelzoom commented on #37
I discussed the Area Builder game with @jbphet. The intent was to make the "Try Again" button disappear when the user did anything to change their answer. Is that also appropriate for this sim? If so, spinners will remain enabled, and the "Try Again" button will disappear when the user interactive with any spinner.

[2015-08-30 20:10] pixelzoom commented on #37
In https://github.com/phetsims/graphing-lines/issues/47#issuecomment-135893275, @amanda-phet confirmed that the desired behavior for Area Builder and Graphing Lines is to make the "Try Again" button automatically disappear when the user changes their answer (or presses the "Try Again" button).  Since the impetus for this issues was to make behavior consistent across sims, I'm guessing that this si

[2015-08-31 17:55] pixelzoom commented on #37
Game behavior has been changed as requested, see this dev version:

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.1.0-dev.1/reactants-products-and-leftovers_en.html

@ariel-phet Would you mind verifying (or assigning to someone else) since the original team lead is

[2015-08-31 19:18] pixelzoom opened #38 "add visibility annotations"
Add @public, @protected or @private annotations to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-08-31 22:45] #38 closed

[2015-09-01 03:31] pixelzoom commented on #37
Hi @amyh-phet, @ariel-phet tells me you're the new lead on this sim. Could you please review the fix for this issue? Thanks!

[2015-09-01 03:31] pixelzoom commented on #25
@ariel-phet ping.

[2015-09-01 13:46] ariel-phet commented on #25
Agreed.

[2015-09-01 15:08] amyh-phet commented on #37
Hi @pixelzoom.   The fix for the issue looks great.   It looked like the new game behavior is only applied to the first level of the game - correct?

[2015-09-01 15:13] pixelzoom commented on #37
No, the change is applied to all levels of the Game -- if you interact with the spinner, the "Try Again" button automatically changes to "Check".  Are you seeing something different on Levels 2 & 3?

[2015-09-01 15:28] amyh-phet commented on #37
@pixelzoom.   I just looked at the dev version again.   Looks good.   All levels have active spinners that change "Try Again" to "Check" if you interact with the spinner.   I think we are good!

[2015-09-01 15:37] pixelzoom commented on #37
Great, thanks @amyh-phet. Closing this issue.

[2015-09-01 15:37] #37 closed

[2015-10-30 17:44] pixelzoom opened #39 "update QA credits"
The QA credits are currently:

`qualityAssurance: 'Oliver Orejola, Bryan Yoelin'`

@ariel-phet If applicable, please specify the revised QA credits, ordered alphabetically by last name.

[2015-10-30 19:15] ariel-phet commented on #39
Steele Dalton, Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin

[2015-10-30 21:06] #39 closed

[2015-11-11 00:27] pixelzoom opened #40 "add namespace"
see https://github.com/phetsims/tasks/issues/378

[2015-11-11 23:06] #40 closed

[2015-11-16 06:32] pixelzoom opened #41 "uncaught errors in requirejs mode"
Noted with test-server, in requirejs mode with fuzzTest.

This one is identical to https://github.com/phetsims/balancing-chemical-equations/issues/109:
[code]

This one occurs a dozen or so times:

[code]

[2015-11-16 19:19] pixelzoom commented on #41
The second error (`Attempted to removeChild`) was apparently a result of the first error (`Assertion failed: during disposal,`).  Fixing the first error resolved the second, as tested with `?ea&fuzzMouse&screens=3`.

Closing.

[2015-11-16 19:19] #41 closed

[2016-01-05 18:26] phet-steele opened #42 "Infinite Sandwiches!"
Possibly a scenery issue @pixelzoom, but here it is.

In the "Sandwiches" and "Molecules" screens, the spinners have no min or max if the up/down arrows are clicked and held at the value one above the min or one below the max. In other words, using the custom sandwich reaction as an example, the values up top have a min of zero and max of 3. So it follows that if you click up once so the value is

[2016-01-05 19:03] pixelzoom commented on #42
Problem reproduced in 1.1.0-rc.1.  It does not occur in 1.0.0 (on the PhET website), so this is a new problem.

RPAL uses its own spinner type (`NumberSpinner`), which uses `scenery-phet.ArrowButton` for the arrow buttons.  Since 1.0.0 was published, the "fire-on-hold" feature was moved out of `scenery-phet.ArrowButton` and into `sun.PushButtonModel`.  See https://github.com/phetsims/scenery-phet/

[2016-01-06 17:51] bryo5363 opened #43 "Sandwich/molecule view screen exits boundary of simulation"
Test device: Acer Aspire R13 (Bryan's personal computer)

Operating System: Windows 10 64 bit

Browser: Chrome 47.0.2526.106 m

Problem description: This issue is related to #42 but as the amount of sandwiches or molecules is increased past 8, the view screen for said molecule/sandwich will disappear from the simulation. Pressing the reset button does not reset the position of the view screens.

S

[2016-01-06 18:41] pixelzoom commented on #43
Thanks for reporting. Once bug #42 occurs (exceeding the limitations of the sim), all bets are off with respect to layout - any everything else for that matter. So since this is something that will never occur in practice, it won't be fixed.  Closing.

[2016-01-06 18:41] #43 closed

[2016-01-06 19:38] pixelzoom commented on #42
Related to https://github.com/phetsims/tasks/issues/376.

[2016-01-06 19:38] pixelzoom commented on #43
Related to https://github.com/phetsims/tasks/issues/376.

[2016-01-07 17:36] ariel-phet commented on #42
@phet-steele can you also mark in the test matrix?

[2016-01-07 19:16] phet-steele commented on #42
@ariel-phet I put the ticket number next to platforms I've seen have this issue with my own eyes.

[2016-01-07 21:35] phet-steele opened #44 "Cursor Enlargement"
@pixelzoom I have no idea what's going on here, but just moving the cursor from side to side, somewhat rapidly, the cursor may suddenly enlarge quite a bit. It seems entirely random when it happens, and random for how long it lasts. It's happening on any screen, for all browsers on OS X 10.11.2. Dirac specifically if you wan't to try it out.

Video (ignore Ariel's voice :smile:)
https://drive.goog

[2016-01-07 21:42] pixelzoom commented on #44
It's a new feature in El Capitan (Mac OS X 10.11), designed to help you find your cursor. See http://www.cnet.com/how-to/wiggle-to-find-your-cursor-in-os-x-el-capitan/.

Closing.

[2016-01-07 21:42] #44 closed

[2016-01-07 21:42] phet-steele commented on #44
I was just about to write that and close it myself!

[2016-01-07 21:43] pixelzoom commented on #44
Related to RC test https://github.com/phetsims/tasks/issues/376.

[2016-01-07 23:39] pixelzoom commented on #42
Starting to investigate this...  When a spinner button is disabled, that results in a call to `PushButtonModel.setEnabled`, which in turn calls `CallbackTimer.stop`, which stops the timer. In the situation that @phet-steele set up, the problem is that the timer hasn't started running yet, so `CallbackTimer.stop` is a no-op.

[2016-01-08 00:40] pixelzoom commented on #42
Spent ~1 hour on this and didn't figure it out.

[2016-01-08 22:24] pixelzoom commented on #42
Reproduced in an isolated example. Add this bit of code to any ScreenView subtype's constructor, then press the down (decrement) arrow button.

[code]

[2016-01-08 22:34] pixelzoom commented on #42
Isolated further to ArrowButton.  Add this bit of code to any ScreenView subtype's constructor, then press the arrow button. The button appears to be disabled when value <= 0, but the arrowButtonListener continues to fire.

[code]

Console output:

[code]

[2016-01-08 22:38] pixelzoom commented on #42
Btw... The above only fails if we start with value = MIN_VALUE + 1.  If value is (for example) MIN_VALUE + 2, there's no problem.

[2016-01-08 22:41] pixelzoom commented on #42
Isolated further to RectangularPushButton. Add this bit of code to any ScreenView subtype's constructor, then press the arrow button. The button appears to be disabled when value <= 0, but buttonListener continues to fire.

[code]

Console output:

[code]

[2016-01-08 22:52] pixelzoom commented on #42
Since this has been isolated to sun, I've created issue https://github.com/phetsims/sun/issues/216 and will continue work there.  I'll leave this open for verification once the bug is fixed.

[2016-01-09 00:25] pixelzoom commented on #42
phetsims/sun#216 was a 1-line fix, so I will patch it into sun for the RPAL 1.1 release branch.

[2016-01-09 00:44] pixelzoom commented on #42
Patched, sun.  This issue will be verified in 1.1.0-rc.2.

[2016-01-09 00:44] #42 closed

[2016-01-11 17:34] pixelzoom opened #45 "remaining 1.1.0 redeploy items"
RPAL 1.1.0 has been deployed to the PhET website.  Here are the remaining items.

**Design/Admin**

- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Republish primer video

[2016-01-20 20:10] ariel-phet commented on #45
@amyh-phet can you check the teacher tips and make a comment about the primer?

[2016-01-20 21:34] amyh-phet commented on #45
Teacher tips are up to date.  Primer video has been reproduced with new bumpers.  I'll check to see when the new primers will be up on the site.

[2016-02-04 05:01] ariel-phet commented on #45
I think since the primers are dealt with by separate issues this can be closed

[2016-02-04 05:01] #45 closed

[2016-03-31 18:31] phet-steele opened #46 "Game should retain most recent score"
The level selection screen needs to be changed to display stars for the most recent score achieved in a level. Currently the sim will always display the high score. Not a high priority issue, no need for a maintenance release. It's okay to wait until next re-deploy. See https://github.com/phetsims/balancing-act/issues/63 for the original issue.

[2016-04-06 22:34] pixelzoom commented on #46
Deferred until https://github.com/phetsims/vegas/issues/51 is resolved.

[2016-05-02 16:46] oliver-phet opened #47 "User feedback: Ammonia"
In the html 5 version of this experiment, there is very limited uses for the “making ammonia” part because you can only go up to 8 H2 so students can’t try out any ratios but the lowest one (where you begin with 1N2.) In the old simulation it used to go up at least to 10N2, which was useful to have students explore the higher ratios.

[2016-05-02 16:56] pixelzoom commented on #47
Please point out to the user that this is not the case. Students can create ammonia with 2 "ratios":

1N2 + 3H2 -> 2NH3
2N2 + 6H2 -> 4NH3

The Java version provided this additional ratio:

3N2 + 9H2 = 6NH3

That said...  We reduced the maximum number of molecules from 10 to 8 in the HTML5 version due to vertical space constraints.  Increasing the maximum to 10 would require reducing the size of al

[2016-05-02 17:16] oliver-phet commented on #47
Reply sent to user. Will update with any response.

[2016-05-02 17:18] oliver-phet commented on #47
User acknowledged. Closing.

[2016-05-02 17:18] #47 closed

[2016-08-18 22:45] pixelzoom opened #48 "Use reproducible random number generators"
Related to phetsims/phet-io#551.

For this sim:

- [x] replace Math.random with phet.joist.random.nextDouble
- [x] replace _.random with phet.joist.random.randomIntegerBetween

[2016-08-19 00:01] pixelzoom commented on #48
Done, tested, no problems noted. Closing.

[2016-08-19 00:01] #48 closed

[2016-08-25 23:38] pixelzoom opened #49 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-25 23:53] pixelzoom commented on #49
Alignment change does not affect this sim.  Closing.

[2016-08-25 23:53] #49 closed

[2016-10-26 22:58] oliver-phet opened #50 "User feedback: alternative to meat sandwich"

[2016-10-26 23:15] pixelzoom commented on #50
Feel free to customize your sandwich by omitting the meat:

![screenshot_60](https://cloud.githubusercontent.com/assets/3046552/19748549/c084cd88-9b9f-11e6-97d4-12d3191eba41.png)

[2016-10-26 23:16] pixelzoom commented on #50
The default sandwich is "Cheese" (no meat) and "Custom" allows you to create a meatless sandwich.

[2016-10-26 23:16] pixelzoom commented on #50
Not true. The default sandwich is "Cheese" (no meat) and "Custom" allows you to create a meatless sandwich.

![screenshot_60](https://cloud.githubusercontent.com/assets/3046552/19748549/c084cd88-9b9f-11e6-97d4-12d3191eba41.png)

[2016-10-27 02:58] #50 closed

[2016-10-27 15:51] pixelzoom commented on #50
Note that this sim is also vegan friendly - create a custom sandwich and set coefficients for meat and cheese to zero.

[2017-02-26 01:20] pixelzoom opened #51 "disable showAnswers in production versions"
phetsims/joist#406 is a prerequisite to this.

In RPALQueryParameters, set `showAnswers` to false if we're running a production version, so the answers can't be revealed.

[2017-04-04 16:43] pixelzoom commented on #46
This decision needs to be revisited, see https://github.com/phetsims/graphing-lines/issues/61#issuecomment-291296234.

[2017-04-04 16:53] pixelzoom opened #52 "showReward query parameter is buggy"
After getting a perfect score, the "level completed" screen incorrectly continues to show and reward and report "Your new best" for subsequent imperfect games.  For example:

![screenshot_320](https://cloud.githubusercontent.com/assets/3046552/24668650/e8b68e6a-1924-11e7-9a24-8f1a1d30508b.png)

[2017-04-04 16:56] pixelzoom commented on #52
This was caused by running with `?showReward`, which forces the reward to be shown regardless of the score.  Apparently it also affects other parts of this display.  I'll investigate fixing that.

[2017-04-04 17:01] pixelzoom commented on #52
The showReward query parameter hasn't been used since very early in development.  And with the showAnswers query parameter, it's very easy to get a perfect score.  So rather than spend time debugging something that isn't used, I remove support for the showReward query parameter.

Closing.

[2017-04-04 17:01] #52 closed

[2017-04-05 18:19] pixelzoom opened #53 "Game timer keeps running after the last challenge is answered,"
Game timer keeps running after the last challenge is answered, and doesn't stop until you press Next button.  It should stop immediately after answering the last challenge.

[2017-04-05 18:22] pixelzoom commented on #53
Whoops, created this issue in the wrong repo. Moved to https://github.com/phetsims/graphing-lines/issues/74.

[2017-04-05 18:22] #53 closed

[2017-08-09 22:45] pixelzoom opened #54 "layout of equations is messed up"
This happens in screens 2 and 3.  Here's an example, see the equation at the top:

![screenshot_348](https://user-images.githubusercontent.com/3046552/29147074-0d42fc8a-7d22-11e7-87b4-2b396890eee6.png)

Probably similar to https://github.com/phetsims/ph-scale/issues/70, related to RichText.

[2017-08-09 22:45] pixelzoom commented on #54
I suspect that vertically aligning baselines is going to be a lot trickier with RichText.

[2017-08-09 22:47] jonathanolson commented on #54
This is a regression, and should be fixed.

The origin Y will still be the baseline of the first line of text.

[2017-08-09 22:55] jonathanolson commented on #54
Should be fixed with the above commit, can you verify?

[2017-08-09 23:05] pixelzoom commented on #54
👍 Closing.

[2017-08-09 23:05] #54 closed

[2017-08-14 18:09] pixelzoom commented on #25
In https://github.com/phetsims/reactants-products-and-leftovers/issues/25#issuecomment-68572389, I said:

https://github.com/phetsims/scenery/issues/335 is resolved, so it's likely that the workaround may now be applied.

[2017-09-18 19:01] jessegreenberg opened #55 "Add keyboard navigation to this sim"
@pixelzoom this was another sim that came up as a potential sim for keyboard navigation.  Unlike https://github.com/phetsims/balancing-chemical-equations/issues/125, this sim does use AccordionBox, and it looks like most of the UI leverages common components. Do you have any thoughts or concerns  about adding keyboard navigation to this sim?

[2017-09-18 20:03] pixelzoom commented on #55
I took a quick look through the codebase, and it looks like this sim uses standard UI components (push buttons, radio buttons, spinners, accordion box) wherever possible.   And I don't see any custom UI components.

[2017-09-19 23:22] jessegreenberg commented on #55
Great, thanks @pixelzoom, we will proceed with this sim.

Now that phetsims/scenery#669 is done, the only thing that needs to be done for this is specify focus order.

In a meeting 9/19/17, it was requested that we make a best guess for keyboard navigation order and deploy a version for design team to review.

We also decided that to avoid mega github issues we would start design docs for a11y dis

[2017-09-19 23:44] jessegreenberg commented on #55
My "best  guess" for keyboard navigation would be something like this.  @zepumph would you please give this a shot? Feel free to change order if you think something else would be more intuitive.  But  I would also suggest if it looks like this will take more than a few minutes we should ask designers for an explicit order before spending much time.

Sandwiches Screen:
- Reactants number spinners
-

[2017-09-19 23:44] pixelzoom commented on #55
For specific issues, I find that having a GitHub issue is superior.  With one Google doc for all discussions, trying to find the history and decisions related to a specific issue is often like trying to find a needle in a haystack.  I'd rather have a few big GitHub issues than 1 gig Google doc. My 2 cents...

[2017-09-20 00:10] zepumph commented on #55
@pixelzoom I think that you are correct for specific problems, but the thought here is for the general design, paralleled to our design docs for PhET Sims (both ports and from scratch).

As a team, accessibility + designers + @ariel-phet + @oliver-phet discussed it this morning and came to a conclusion about how we want to proceed with designing accessibility in sims. I think it largely aligns wit

[2017-09-20 00:23] jessegreenberg commented on #55
Thanks @pixelzoom, agreed for specific issues.  For a11y,  we have seen issues like https://github.com/phetsims/john-travoltage/issues/222 which grew over general a11y design discussions and many iterations, so we we thought it  was best to have a design doc(s) that track a11y considerations for each sim.

[2017-09-20 17:03] jessegreenberg commented on #55
Note this sim also has this issue: https://github.com/phetsims/sun/issues/316

[2017-09-20 19:08] terracoda commented on #55
@jessegreenberg, I started a design document called [RPAL: A11y Design Main](https://docs.google.com/document/d/1IL9gMh_xfhUfa0Y6hThDQp5o7mEwE-M46OeZawPX3qk/edit#)

[2017-09-21 23:55] zepumph commented on #55
@terracoda here is a dev version to help guide you in the design. @jessegreenberg and I worked this week to get things pretty good. I didn't mess with the game screen at all, but it seems pretty good out of the box (although it is a bit weird for the start over button to be first).

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.2.0-dev.0/reactants-products-and-le

[2017-09-21 23:55] #55 closed

[2017-09-25 03:06] pixelzoom commented on #25
Tested this again and it's plenty responsive.  I see no reason to ever do this, so closing.

[2017-09-25 03:06] #25 closed

[2017-09-25 21:12] jessegreenberg opened #56 "Change to keyboard navigation order"
@zepumph after a discussion with @emily-phet we would like to change the tab order, would you mind changing to this order?

From the design doc, here is the requested order:

Sandwiches Screen:
 - Radio Buttons
 - “Custom” number spinners (when visible)
 - Before AccordionBox
 - After AccordionBox
 - reset all button

Molecules Screen:
 - Radio Buttons
 - Before AccordionBox
 - After AccordionBox

[2017-09-26 01:03] zepumph commented on #56
I updated these as expressed above, here is the latest link:

[2017-09-26 01:59] terracoda commented on #56
@zepumph, regarding comment 1 above, my instinct would be that, greyed out, but still visible buttons, should remain findable (possibly remain in focus order), but be communicated clearly as disabled. Whereas, buttons that completely disappear visually would make more sense to remove from the focus order.

Regarding comment 2, my instinct would be that focus has to stay on the button until the use

[2017-09-26 15:49] terracoda commented on #56
@zepumph, in a general sense the Tab Order is fine. Groupings, however, will be useful. I'm not sure the best way to markup a group of radio buttons (still need to work this out); however, the accepted radio group interaction pattern is as follows:
- Tab to the group, placing focus on the first item (if none are selected) or the selected item if one is selected
- Use Up and Left Arrow keys to move

[2017-09-26 15:52] pixelzoom commented on #56
@terracoda asked:

Entry of numbers and text is generally not supported throughout PhET sims.

[2017-09-26 15:54] terracoda commented on #56
@pixelzoom, ok, good to know, but as we add in accessibility features, we might want to rethink that interaction. Direct input can be quite useful in some cases.

[2017-09-26 16:08] pixelzoom commented on #56
To elaborate...  If I recall correctly, the decision not to include keyboard input in PhET sims was motivated by (1) the desire to interact on mobile devices without keyboard, due in part to the lousy user experience that keyboards provide on mobile device, and (2) engineering challenges and costs with supporting keyboard input.   So PhET's library of user interface components does not generally s

[2017-09-26 17:18] zepumph commented on #56
Thoughts on RPAL from keyboard nav meeting:

* Get the radio button keyboard nav in order. Currently we have `<li>` tags around inputs without a `<ul>`
* Get `NumberSpinner` keyboard nav to act like `NumberPicker` where arrow keys can adjust the number values (see gravity-force-lab)

[2017-09-26 17:28] pixelzoom commented on #56
@zepumph said:

Thoughts on spinners and pickers...  `NumberSpinner` was implemented first, patterned on Java spinners, with arrows on the sides.  Then we decided we needed something different, with arrows on the top and bottom. Someone coined the term "picker", which I really don’t like, but it unfortunately stuck, and thus was born `NumberPicker`.  Their behavior started to diverge from there -

[2017-09-26 20:40] jessegreenberg commented on #56
Ah, thanks for the history @pixelzoom. Regarding

We came to the same conclusion, and since they perform the  same UI purpose we determined they should  behave the same in keyboard nav.

@zepumph can this be closed? We will look into the issues with these radio buttons in https://github.com/phetsims/sun/issues/316 and navigation for NumberSpinner will be handled in https://github.com/phetsims/sun/

[2017-09-26 20:48] zepumph commented on #56
Sounds good. Closing

[2017-09-26 20:48] #56 closed

[2018-01-09 19:53] pixelzoom commented on #51
Deferred until we have a way to identify production versions, see phetsims/joist#406.

[2018-07-06 17:39] pixelzoom opened #57 "change model to use 1-based level numbering?"
In https://github.com/phetsims/vegas/issues/73 and https://github.com/phetsims/vegas/issues/75, the consensus was to make vegas use 1-based level numbering.   And that 1-based level numbering in the model may be advantageous for PhET-iO, but should be evaluated on a sim-by-sim basis.

Making the requested change for FiniteStatusBar proved to be complicated.  It has option `levelProperty`, which is

[2018-08-06 18:48] phet-steele opened #58 "LoL Icons & Descriptions"
For https://github.com/phetsims/QA/issues/162

[2018-08-06 19:40] pixelzoom commented on #58
To clarify RPAL 1.2.0 is adding support for ePub.   LoL support will be added at the same time to take advantage of the new release branch.

[2018-08-08 15:04] KatieWoe opened #59 "Covered Timer When stringTest=double"
**Test device:**
iPad 2
**Operating System:**
iOS 9.3.5
**Browser:**
Safari 9
**Problem description:**
When stringTest=double on the iPad the Game screen's timer is partially covered by the Start Over button.
**Steps to reproduce:**
1. On an iPad, turn on stringTest=double.
2. Go to the Game screen
3. Select the timer button so that a timer will be displayed in the upper right of the game screen.

[2018-08-08 15:47] pixelzoom commented on #59
Looks like this is a layout problem in VEGAS/FiniteStatusBar.

[2018-08-08 16:05] KatieWoe opened #60 "Sound on Reward Screen Plays Before Image - iPad 2"
**Test device:**
iPad 2
**Operating System:**
iOS 9.3.5
**Browser:**
Safari 9
**Problem description:**
For phetsims/QA/issues/162
When a level of the Game screen is beaten the sound effect of cheering will play a few seconds before the actual victory screen is shown.
**Steps to reproduce:**
1. On an iPad 2 iOS 9, enter the Game screen and choose a level.  This was done on level 1.
2. Input the cor

[2018-08-08 16:16] pixelzoom commented on #60
This has not been a problem in the past, so I suspect that it's related to @jbphet's recent changes to sound.  Let's get him involved.

[2018-08-08 16:33] jbphet commented on #60
+1 on what @pixelzoom just said - it will save me time in tracking this down if we know whether it happens on other sims on master as well as currently  published sims.

[2018-08-08 16:37] pixelzoom commented on #59
Fixed in master, see above commit and screenshot below.

Assign to @KatieWoe to verify, and @jonathanolson to decide how to handle this for the RC testing. Note that may affect any sim that is using FiniteStatusBar, so if this RC is related to a "batch" of sims, there may be other release branches that need patching.

![screenshot_710](https://user-images.githubusercontent.com/3046552/43851022-cee

[2018-08-08 16:39] KatieWoe commented on #60
Just tested this on BCE master.  It doesn't seem to occur, or if it does the victory screen appeared quickly enough that I didn't notice it.

[2018-08-08 16:45] KatieWoe commented on #59
Just tested in master.  This still seems to occur.  This hasn't happened in any browsers that I've seen.  Just the iOS device.

[2018-08-08 16:49] pixelzoom commented on #59
@KatieWoe Still occurs? That's surprising, this was reproducible on all browsers, so should be platform independent. Did you pull vegas before testing?  Can you please post a screenshot?

[2018-08-08 16:50] pixelzoom commented on #59
... and can you please verify that your test machine is not caching.

[2018-08-08 17:01] KatieWoe commented on #59
Never mind.  I only pulled the sim.  Forgot to pull vegas.  Seems to be fixed.  Thanks for the reminder.

[2018-08-08 17:30] pixelzoom commented on #59
Thanks @KatieWoe.  @jonathanolson let me know if you need anything more from me for this issue.

[2018-08-08 18:25] jonathanolson commented on #59
@pixelzoom, is there a specific commit where this was "introduced" in vegas, so we could patch all versions that include it?

[2018-08-08 21:30] KatieWoe opened #61 "Layout problem in level-selection screen"
**Test device:**
Mac Laptop
**Operating System:**
Mac OS 10.11.6
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/162
When on screenTest=long and clearing a game, the return to the Game screen causes severe layout issues.
**Steps to reproduce:**
1. While screenTest=long go to the Game screen.  Note that the layout looks ok
2. Select a level.  This screenshot was taken after leve

[2018-08-08 21:31] pixelzoom commented on #59
As noted in https://github.com/phetsims/reactants-products-and-leftovers/issues/59#issuecomment-411471238:

[2018-08-08 21:31] pixelzoom commented on #59
The commit again is https://github.com/phetsims/vegas/commit/9281305c3c4eeb6663cc7e2b877b02f3e41d5445.

[2018-08-08 21:47] jonathanolson commented on #59
Sorry, I mean I was looking for the commit that would have introduced the bug here (not the fix). Should I grab a commit where FiniteStatusBar is fairly complete, or was there a specific commit where the bug was introduced?

Basically I want a SHA that, if that SHA is in the tree for a release branch, it needs to be patched. Let me know if I should look one up on my own, but I don't know that many

[2018-08-08 23:26] arouinfar commented on #58
Icons & descriptions are ready for delivery.

[2018-08-08 23:26] #58 closed

[2018-08-08 23:38] pixelzoom commented on #61
I tested 1.2.0-rc.1 on Mac OS 10.11.6 and I could not reproduce this problem. I noticed that I still had Chrome  67.0.3396.99, so I'll update to 68 and try again.

[2018-08-08 23:43] pixelzoom commented on #61
After updating to Chrome 68.0.3440.106, I still could not reproduce the problem.  I followed the "Steps to reproduce" exactly, using Level 1.

@KatieWoe does this problem occur all of the time?

[2018-08-08 23:49] pixelzoom commented on #61
There's a slim possibility that I'm not following the steps properly due to different terminology than we typically use. Here's how I interpreted the steps:

- In steps 1 & 4, "Game screen" means the level-selection UI on the _Game_ screen.
- "Beat the level" means to complete the level with a perfect score.
- The "victory screen" means the level-complete dialog with reward raining down in the bac

[2018-08-09 00:41] phet-steele commented on #61
@KatieWoe @pixelzoom I haven't tried this myself, but I'm pretty sure the crucial step that's missing is having Time enabled so that the "Best Time" string is displayed under the level select button.

[2018-08-09 00:44] phet-steele commented on #61
Yup this is the culprit 👍

[2018-08-09 14:28] KatieWoe commented on #61
Good catch.  I hadn't even realized I'd done that, so I didn't put it in the steps.  Sorry about that.

[2018-08-09 16:59] pixelzoom commented on #61
Thanks @phet-steele. Reproduced in master with `?showAnswers&stringTest=long`.   In `LevelSelectionButton`, `bestTimeNode` does not have a `maxWidth` set.  It should be constrained to the width of the button.

[2018-08-09 17:05] pixelzoom commented on #61
Fixed in above commit to `VEGAS/LevelSelectionButton`.  Assigning to @KatieWoe to review.

Assigning to @jonathanolson to decide how to patch this into RC. I'm not able to identify a SHA where this might be patchable. `LevelSelectionButton` is relatively new. In https://github.com/phetsims/vegas/issues/59, `LevelSelectionButton ` replaced and enhanced `LevelSelectionItemNode`.   And it looks like

[2018-08-09 17:41] pixelzoom commented on #60
User interface components (LevelCompletedNode and RewardNode) are now added to the scenegraph before initiating the "cheer" sound.

@KatieWoe can you please re-test on the device that exhibits the problem?

[2018-08-09 17:55] KatieWoe opened #62 "Spinner behaves as if pressed down"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/162
Discovered while testing fix for phetsims/reactants-products-and-leftovers/issues/61
When using the spinners to select a number of molecules in a level of the game it is possible for the button to become "stuck" and behave as though it is being held down, when it wa

[2018-08-09 17:57] KatieWoe commented on #61
Issue seems fixed in master.

[2018-08-09 18:00] pixelzoom commented on #62
@KatieWoe (and @phet-steele?) Can you please try to reproduce this on something other than the device that you showed me?

[2018-08-09 18:01] pixelzoom commented on #61
Thanks @KatieWoe.  I'll proceed with patching the 1.2 release branch.

[2018-08-09 18:11] KatieWoe commented on #60
Seems fixed in master

[2018-08-09 18:30] pixelzoom commented on #59
8/9/18 dev meeting: I'm now responsible for this. I'll proceed with patching vegas in the 1.2 release branch.

[2018-08-09 18:58] KatieWoe commented on #62
I'll use this comment to list the devices I've tested so far.  Honestly, I've had some trouble reproducing it on the original device itself.

[2018-08-09 19:07] pixelzoom commented on #60
Thanks @KatieWoe.  I'll proceed with patching the 1.2 branch.

[2018-08-09 19:10] pixelzoom commented on #60
1.2 branch has been patched.  Labeling for regression testing in 1.2.0-rc.2.

[2018-08-10 02:40] jonathanolson commented on #59
Did you still want me to patch this into other (released) sims? Are there any affected by this?

[2018-08-11 19:56] pixelzoom commented on #59
I don't think there's any reason to patch this in other sims.  Few sims use the game timer feature.  And in practice, this is really a non-problem, since the game timer consists of numbers and it's dependent on the length of translated strings.   I was originally tempted to close this issue as "will not fix", and fixed it mainly so it wouldn't be reported again during future testing.

[2018-08-11 20:08] pixelzoom commented on #61
@jonathanolson FYI, I don't think this needs to be patched in other sims for the same reasons mentioned in https://github.com/phetsims/reactants-products-and-leftovers/issues/59#issuecomment-412298080.

[2018-08-13 16:40] pixelzoom commented on #62
@ariel-phet This problem is not reproducible, so I recommend that label it as deferred and proceed with RC testing https://github.com/phetsims/QA/issues/162.  Do you agree?

[2018-08-13 16:54] pixelzoom commented on #51
Verified in RC test https://github.com/phetsims/QA/issues/162, closing.

[2018-08-13 16:54] #51 closed

[2018-08-13 17:10] pixelzoom commented on #59
Removing 'dev:maintenance-release' label.  This will be addressed in the RC.

[2018-08-13 18:54] ariel-phet commented on #62
@KatieWoe @pixelzoom this strikes me as some kind of very device specific issue (track pad doing something odd or such). Considering we have had no such issues reported in other sims with spinners, and no clear reproducible steps at the moment, I am going to go ahead and just close this issue.

Please proceed with RC testing.

[2018-08-13 18:54] #62 closed

[2018-08-13 21:45] pixelzoom commented on #59
Patched in branch reactants-products-and-leftovers-1.2.

[2018-08-13 21:49] pixelzoom commented on #61
Cherry picked in reactants-products-and-leftovers-1.2 branch.

[2018-08-14 16:15] KatieWoe commented on #61
Looks good.  Closing

[2018-08-14 16:15] #61 closed

[2018-08-14 16:27] KatieWoe commented on #60
Looks much better

[2018-08-14 16:27] #60 closed

[2018-08-14 16:43] pixelzoom commented on #57
The only reason to do this would be for PhET-iO.

[2018-11-02 05:34] pixelzoom opened #63 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2018-11-02 06:37] pixelzoom commented on #63
Done, closing.

[2018-11-02 06:37] #63 closed

[2018-11-07 19:36] pixelzoom commented on #57
There's no reason to do this, not even for PhET-iO.  If 1-based numbering is needed for PhET-iO, then instrument the DerivedProperty that's passed to FiniteStatusBar.  See PlayNode line 47:

[code]

[2018-11-07 19:36] #57 closed

[2018-11-16 19:51] pixelzoom opened #64 "screenshot has incorrect dimensions and aspect ratio"
reactants-products-and-leftovers-screenshot.png is currently 1024 x 762.  That's a non-standard size.  The old standard was 2048 x 1344, the new standard is 1536 x 1008 (see https://github.com/phetsims/tasks/issues/947.)  More importantly, this is a different aspect ratio; 1024:762 is 1.34, while 1536:1008 is 1:52.    So this could cause downstream problem, and should be fixed.

[2018-11-16 19:54] pixelzoom commented on #64
@KatieWoe would you mind doing this? Low priority.

[2018-11-16 20:12] pixelzoom commented on #64
The build process uses the screenshot to generate various PNG files needed for the website, social media, etc.  So I did a build and checked the generated PNG files:

[code]

The first 2 files are used on the website and have 1:52 aspect ratio.  So there's probably a little distortion happening, but not enough that I can notice it.

I'm note sure why, but the twitter-card.png has 2:1 aspect ratio.

[2018-11-16 20:43] KatieWoe commented on #64
![reactants-products-and-leftovers-screenshot](https://user-images.githubusercontent.com/41024075/48646271-9c8a8700-e9a5-11e8-995d-2c0c0f57fa4c.png)

[2018-11-16 20:47] pixelzoom commented on #64
@KatieWoe The above looks correct, feel free to commit and push.

[2018-11-20 16:06] KatieWoe commented on #64
Changes should be in above commit @pixelzoom.  Please confirm and close.

[2019-02-05 05:25] pixelzoom opened #65 "incorrect 'new best time'"
Same issue as https://github.com/phetsims/graphing-lines/issues/111.   Not surprising since they loosely share the same game engine design.

To reproduce:

* complete a level perfectly
* complete the same level perfectly, faster
* try the same level again with no correct answers

[2019-02-05 05:32] pixelzoom commented on #65
Fixed in the above commit.

[2019-04-12 22:54] KatieWoe opened #66 "Usability on small screens review"
Per @kathy-phet's
![Image from iOS](https://user-images.githubusercontent.com/41024075/56070170-a2617a00-5d43-11e9-86d9-909d6edb9ba9.png)
request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None

Screenshots:

[2019-04-12 22:54] #66 closed

[2019-07-16 17:23] pixelzoom opened #67 "Oxford commas in sim title?"
The title of this sim is (and always has been) "Reactants, Products and Leftovers".  Based on the recent emphasis on the use of Oxford commas, should the title be tweaked to "Reactants, Products, and Leftovers"?

[2019-07-16 17:25] arouinfar commented on #67
I do like Oxford commas, so I'd be in favor of adding one to the title of RPAL.

[2019-07-16 17:43] ariel-phet commented on #67
Well, I actually think this is a case where the Oxford is not necessarily the best choice.

The Oxford comma is to separate things to be distinct, the classic example I have heard being:

"For breakfast I had eggs, potatoes, toast, and jam"
vs
"For breakfast I had eggs, potatoes, toast and jam"

The first implies you had toast, and ate jam separately, the second implies you had jam on your toast.

[2019-07-16 17:48] pixelzoom commented on #67
I like @ariel-phet's argument against making a change.  But @arouinfar, I'll leave it up to you.

[2019-07-17 00:22] arouinfar commented on #67
@ariel-phet does bring up a great point. I would agree that it's better to preserve the "products and leftovers" grouping, so let's leave it as-is @pixelzoom.

[2019-07-17 00:22] #67 closed

[2020-02-20 22:05] pixelzoom opened #68 "use AquaRadioButtonGroup in VisibilityPanel"
For https://github.com/phetsims/sun/issues/555, significant changes are required to use AquaRadioButtonGroup in VisibilityPanel.

This will not be straightforward. There are currently 3 radio buttons in the group, but they use 2 different Properties, via an adapter Property.

<img width="294" alt="screenshot_146" src="https://user-images.githubusercontent.com/3046552/74988799-135dcd80-53fc-11ea-89

[2020-03-10 21:56] pixelzoom opened #69 "use Enumeration"
for

- [x] BoxType
- [x] GamePhase
- [x] PlayState

[2020-03-10 22:38] pixelzoom commented on #69
Done, closing.

[2020-03-10 22:38] #69 closed

[2020-03-12 22:46] pixelzoom commented on #68
In GameModel.js, this required collapsing `{Property.<boolean>} moleculesVisibleProperty` and `{Property.<boolean>} numbersVisibleProperty` into `{EnumerationProperty.<GameVisibility>} gameVisibilityProperty`.   After that, the use of AquaRadioButtonGroup was straightforward.

Closing.

[2020-03-12 22:46] #68 closed

[2020-03-18 19:06] pixelzoom opened #70 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard for these files.

[2020-03-18 20:07] pixelzoom commented on #70
Done, closing.

[2020-03-18 20:07] #70 closed

[2020-04-16 04:13] pixelzoom opened #71 "a11y-related string literals"
While cleaning up string constants after ES6 module migration, I came across these 3 string literals:

[code]

All of these are passed to the Screen via option `descriptionContent`, so I'm guessing that this is related to descriptions for a11y.  @jessegreenberg Do you know anything about this?

[2020-04-16 04:18] jessegreenberg commented on #71
I am going to remove these, looks like maybe prototype code or testing out Screen.js descriptions for Screen.js that shouldn't be checked in. And RPAL isn't up for description work any time soon.

[2020-04-16 04:27] jessegreenberg commented on #71
They have been removed.

[2020-04-16 04:38] pixelzoom commented on #71
Excellent, thanks! Closing.

[2020-04-16 04:38] #71 closed

[2021-01-20 18:00] oliver-phet opened #72 "User suggestion: increase H₂ count"
The original Java pHet had different numbers as drop-down options in the ammonia production.  The current HTML version maxes out at 8 for hydrogen, whereas the previous version maxed out at 10.  Increasing this to 10 really  helps students to visualize this concept.

**Visuals**
![image](https://user-images.githubusercontent.com/5090275/105214948-e6370500-5b0d-11eb-8d36-acd112b2ab3f.png)
![image](

[2021-01-20 18:19] arouinfar commented on #72
@oliver-phet this is not a suggestion we are able to accomodate.

According to the design doc:

The aspect ratio we design for in HTML5 is a bit shorter than Java, which means we generally have less vertical space to work with when porting a sim. All spinners in the sim have the same maximum of 8. We cannot reasonably increase the maximum number of H2 in this one case. Increasing the max value to

[2021-01-20 18:28] oliver-phet commented on #72
Replied to user, closing!

[2021-01-20 18:28] #72 closed

[2021-02-24 01:22] pixelzoom opened #73 "Bogus option passed to LevelSelectionButton"
In SettingsNode.js, there's a bogus option passed to `LevelSelectionButton`:

[code]

`LevelSelectionButton` has no `iconToProgressIndicatorYSpace` option.

[2021-02-24 01:37] pixelzoom commented on #73
Done, tested, closing.

[2021-02-24 01:37] #73 closed

[2021-05-12 18:57] KatieWoe commented on #65
Looks fixed on master.

[2021-05-12 21:31] pixelzoom commented on #65
Thanks @KatieWoe. Closing.

[2021-05-12 21:31] #65 closed

[2021-11-19 18:06] markgammon opened #74 "Support for UI sound in 1.3 release."
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe